 #scroller{
    overflow-x:auto ;
    overflow-y: hidden;
    background-color: red;
    white-space: nowrap;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller1{
     display: inline-block;
    white-space: nowrap;
    animation-name:scroll;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scrollerh4{
    transition: all linear 0.5;
    margin-right: 10px;
    display: inline-block;
    font-size: 100px;
    font-weight: 900;
    font-family: gilroy;
}
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}